$nav-bg: #1c1c1c;
$text-color: #fff;
$ff: "helvetica", sans-serif;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: column;
  height: 95vh;
  position: fixed;
  width: 3.3rem;
  background: $nav-bg;
  font-family: $ff;
  transition: width 100ms linear;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

    &.menu-active {
      width: 16rem;
    }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu-link {
      margin: 0;
      display: flex;
      cursor: pointer;
      width: 100%;
      transition: all 120ms linear;
      align-items: center;
      justify-content: flex-start;
      text-decoration: none;
      
      &:first-child {
        border: none;
        background: $nav-bg;
      }

      &:hover {
          background: rgba(192, 192, 192, 0.192);
      }

      .link-text {
        text-decoration: none;
        pointer-events: none;
        color: $text-color;
        display: none;
        transition: display 2s linear 5s;
        padding-left: .5rem;

          &.text-showing {
            display: block;
          }
      }

      .icons {
        font-size: 20px;
        color: $text-color;
        padding: 1.1rem 1rem;
        z-index: 10;
        overflow: hidden;
      }
    }
  }

}


main {
  margin: 3.5rem;
  margin-top: 0;

  .movie-template {
    width: 300px;
    aspect-ratio: 1;
    border-radius: 5px;
    color: white;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);


  }

  .movie-desc {
     padding: 5px 10px;
  }

  h1 {
    margin: 0;
    @extend main;
    @extend .movie-desc;
  }

}

.document-body {
  margin: 1rem;
}