$nav-bg: #1c1c1c;
$ff: "helvetica", sans-serif;

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    background: $nav-bg;
    padding: .5rem;
    font-family: $ff;
     
    a {
        margin-left: 10px;
        text-decoration: none;
        color: rgb(180, 180, 180);

        &:last-child {
            margin-right: 10px;
        }
    }
}