@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;500;700&display=swap");
body {
  font-family: "Roboto Condensed", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 1rem;
  padding-top: 1.5rem;
  background: #8d8d8d;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1c1c1cbd;
}

::-webkit-scrollbar-button {
  background: #2c2c2cf3;
}

::-webkit-scrollbar-thumb {
  background: #3b3b3bf3;
}

.nav {
  position: absolute;
  min-height: 100%;
  top: 0;
  bottom: 0;
  width: 3.3rem;
  background: #1c1c1c;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
  z-index: 100;
}

.nav.menu-active {
  --open-menu: 16rem;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
  width: var(--open-menu);
}

.nav.menu-active .menu-link-path {
  width: var(--open-menu);
}

.nav .color-scheme-light-mode {
  width: 3.3rem;
  background-color: whitesmoke;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.nav ul {
  position: absolute;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 91vh;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
}

.nav ul .menu-link-path {
  text-decoration: none;
}

.nav ul .menu-link-path:last-child {
  margin-top: auto;
}

.nav ul .burger-menu,
.nav ul .menu-link {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  width: 100%;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
  color: #000000de;
}

.nav ul .burger-menu:hover,
.nav ul .menu-link:hover {
  border: none;
  background: rgba(192, 192, 192, 0.192);
}

.nav ul .burger-menu .link-text,
.nav ul .menu-link .link-text {
  text-decoration: none;
  color: #fff;
  display: none;
  --transition-timing: 150ms;
  -webkit-transition: all --var(120ms) linear;
  transition: all --var(120ms) linear;
  padding-left: 0.5rem;
}

.nav ul .burger-menu .color-scheme-light-mode-text,
.nav ul .menu-link .color-scheme-light-mode-text {
  opacity: 1;
  -webkit-transition: all --var(120ms) linear;
  transition: all --var(120ms) linear;
}

.nav ul .burger-menu .icons,
.nav ul .menu-link .icons {
  font-size: 20px;
  color: #fff;
  padding: 1rem;
  z-index: 10;
  overflow: hidden;
  pointer-events: none;
}

.nav ul .burger-menu .color-scheme-light-mode-icons,
.nav ul .menu-link .color-scheme-light-mode-icons {
  color: #1c1c1c;
}

.nav ul .burger-menu .link-text,
.nav ul .burger-menu .burger-icon,
.nav ul .menu-link .link-text,
.nav ul .menu-link .burger-icon {
  pointer-events: none;
}

.nav ul .burger-menu .color-scheme-light-mode-text,
.nav ul .menu-link .color-scheme-light-mode-text {
  color: #1c1c1c;
}

main {
  position: relative;
  overflow: hidden;
}

main .login-settings-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  top: 15px;
  right: 0px;
  padding-right: 15px;
}

main .login-settings-wrapper .login-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 1.5rem;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  background-color: #5295f9;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
}

main .login-settings-wrapper .login-settings:hover {
  cursor: pointer;
  background-color: #fff;
  color: #5295f9;
}

main .login-settings-wrapper .login-settings:hover .user-auth {
  cursor: pointer;
}

main .login-settings-wrapper .login-settings span {
  margin-right: 5px;
}

main .login-settings-wrapper .login-settings .user-auth {
  font-size: 1.6rem;
}

main .fa-photo-video {
  color: #0c6af7b6;
  text-align: right;
  -webkit-animation: icon-effect 250ms ease;
          animation: icon-effect 250ms ease;
}

@-webkit-keyframes icon-effect {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes icon-effect {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

main h1 {
  display: -ms-grid;
  display: grid;
  height: 90vh;
  place-content: center;
  text-transform: uppercase;
  font-size: 7rem;
  text-align: center;
  color: #1c1c1c;
  line-height: 85px;
  margin-right: -100px;
  -webkit-animation: title-effect 180ms ease;
          animation: title-effect 180ms ease;
}

@-webkit-keyframes title-effect {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes title-effect {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

main h1 span {
  display: block;
  margin-left: -250px;
}

main h1 span::before {
  content: "";
  display: block;
  height: 5px;
  width: 85%;
  background: rgba(12, 106, 247, 0.712);
  margin-left: -50px;
  margin-bottom: 8px;
}

.upcoming-movies-body {
  position: relative;
  overflow-y: hidden;
  height: 93.5vh;
}

.upcoming-movies-body .comment-window-wrapper {
  display: -ms-grid;
  display: grid;
  position: fixed;
  background-color: #00000098;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  z-index: 1000;
  -webkit-animation: comment-window-effect 120ms linear;
          animation: comment-window-effect 120ms linear;
}

.upcoming-movies-body .comment-window-wrapper .comment-window-movie-title {
  font-size: 2rem;
}

@-webkit-keyframes comment-window-effect {
  0% {
    opacity: 0.2;
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes comment-window-effect {
  0% {
    opacity: 0.2;
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.upcoming-movies-body .comment-window-wrapper form {
  position: relative;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #282828;
  height: 80%;
  width: 80%;
  color: white;
}

.upcoming-movies-body .comment-window-wrapper form .comment-message {
  position: absolute;
  background: #282828;
  font-size: 3rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  place-content: center;
  -webkit-animation: comment-window-message 120ms linear;
          animation: comment-window-message 120ms linear;
}

@-webkit-keyframes comment-window-message {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes comment-window-message {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.upcoming-movies-body .comment-window-wrapper form label,
.upcoming-movies-body .comment-window-wrapper form input,
.upcoming-movies-body .comment-window-wrapper form .inner-form-wrapper .submit,
.upcoming-movies-body .comment-window-wrapper form button {
  width: 80%;
  padding: 1rem 0.5rem;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.upcoming-movies-body .comment-window-wrapper form .comment-window-close-icon {
  position: absolute;
  font-size: 2rem;
  top: 3%;
  right: 2%;
  cursor: pointer;
}

.upcoming-movies-body .comment-window-wrapper form label {
  text-align: left;
  padding-left: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}


.upcoming-movies-body .comment-window-wrapper form input,
.upcoming-movies-body .comment-window-wrapper form .inner-form-wrapper .submit {
  font-family: inherit;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  background-color: #ffffff10;
  border: none;
  border-bottom: 1px solid #282828;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
  color: #fff;
}

.upcoming-movies-body .comment-window-wrapper form input:focus, .upcoming-movies-body .comment-window-wrapper form .inner-form-wrapper .submit:focus {
  border-bottom: 1px solid silver;
  outline: none;
}

.upcoming-movies-body .comment-window-wrapper form button {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: rgba(255, 255, 255, 0.26);
  letter-spacing: 2px;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
}

.upcoming-movies-body .comment-window-wrapper form button:hover {
  background-color: rgba(255, 255, 255, 0.877);
  color: #282828;
}

.upcoming-movies-body .upcoming-movie-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2px 0.3rem .5rem 3.5rem;
  overflow-x: hidden;
  background: url("https://images.pexels.com/photos/3921045/pexels-photo-3921045.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-color: #222222;
  background-size: calc(100% + 2vh);
  height: 81vh;
  background-position: center;
  background-blend-mode: multiply;
}

.upcoming-movies-body .upcoming-movie-container {
  position: relative;
  width: 19%;
  margin: 5px 2px;
  z-index: 10;
  overflow: hidden;
  outline: 1px solid #c0c0c05b;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
  -webkit-animation: movie-container-effect 120ms linear;
          animation: movie-container-effect 120ms linear;
}

.upcoming-movies-body .upcoming-movie-container:hover .sidebar-icons-wrapper {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@-webkit-keyframes movie-container-effect {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes movie-container-effect {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.upcoming-movies-body .title-wrapper {
  position: relative;
  background-color: #3a3738;
  border-top-right-radius: 5px;
  padding: 1.5rem;
  color: #fff;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
}

.upcoming-movies-body .title-wrapper h1 {
  background-color: transparent;
  font-weight: 500;
  letter-spacing: 1px;
  position: absolute;
  left: 0;
  right: 10px;
  top: 2px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}

.upcoming-movies-body .color-scheme-light-mode-title {
  background-color: white;
  color: #5295f9;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.upcoming-movies-body h2 {
  position: absolute;
  bottom: 0;
  margin: 0;
  right: 0;
  left: 0;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  z-index: 10;
  color: #fff;
  background: #000000a8;
  pointer-events: none;
  font-weight: 500;
}

.upcoming-movies-body .sidebar-icons-wrapper {
  opacity: 0;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.034)), to(rgba(0, 0, 0, 0.651)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.034), rgba(0, 0, 0, 0.651));
  width: 12%;
  position: absolute;
  text-align: right;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0.3rem;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
}

.upcoming-movies-body .sidebar-icons-wrapper* {
  cursor: pointer;
}

.upcoming-movies-body .sidebar-icons-wrapper.active {
  display: block;
}

.upcoming-movies-body .sidebar-icons-wrapper .sidebar-icons {
  display: block;
  margin-top: 0.2rem;
  font-size: 1.3rem;
  color: #f5f5f5e3;
  pointer-events: initial;
  cursor: pointer;
}

.upcoming-movies-body .sidebar-icons-wrapper a:hover .sidebar-icons {
  color: #f5f5f5;
}

.upcoming-movies-body .upcoming-movie-image {
  display: block;
}

.library-outter-wrapper {
  overflow-y: hidden;
  height: 91vh;
}

form {
  padding: 10px;
  margin: auto;
  text-align: center;
  background: #1c1c1cf3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

form .inner-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin: 0 auto;
}

form .inner-form-wrapper input, form .inner-form-wrapper .submit {
  padding: 8px 10px;
  border: none;
}

form .inner-form-wrapper .movie-search-input {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  border-left: 3px solid white;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
}

form .inner-form-wrapper .movie-search-input:focus {
  outline: none;
  border-left: 3px solid #5295f9;
}

form .inner-form-wrapper .submit {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #4e4e4e;
  color: whitesmoke;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  letter-spacing: 1px;
}

form .inner-form-wrapper .submit:hover {
  background: #3f3f3f;
  cursor: pointer;
}

.color-scheme-light-mode-title {
  background-color: white;
  color: #5295f9;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.outter-wrapper {
  background: url("https://images.pexels.com/photos/3921045/pexels-photo-3921045.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-color: #222222;
  background-size: 100%;
  background-position: center;
  background-blend-mode: multiply;
  overflow-y: hidden;
}

.outter-wrapper .no-movies-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 81.5vh;
}

.outter-wrapper .no-movies-message p {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  -webkit-animation: movie-library-message 180ms linear;
          animation: movie-library-message 180ms linear;
}

@-webkit-keyframes movie-library-message {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes movie-library-message {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.movie-template {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 80vh;
  padding-left: 3.5rem;
  padding-right: 0.3rem;
  padding-bottom: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.movie-template .comment-window-wrapper {
  position: fixed;
  overflow-x: hidden;
  background-color: #00000098;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  z-index: 1000;
  -webkit-animation: comment-window-effect 120ms linear;
          animation: comment-window-effect 120ms linear;
}

.movie-template .comment-window-wrapper .comment-window-movie-title {
  font-size: 2rem;
}

@keyframes comment-window-effect {
  0% {
    opacity: 0.2;
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.movie-template .comment-window-wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(221, 221, 221, 0.842);
  background-color: #282828;
  height: 80%;
  width: 80%;
  color: white;
  overflow-x: hidden;
}

.movie-template .comment-window-wrapper form .comment-message {
  position: absolute;
  background: #282828;
  font-size: 3rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  place-content: center;
  -webkit-animation: comment-window-message 120ms linear;
          animation: comment-window-message 120ms linear;
}

@keyframes comment-window-message {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.movie-template .comment-window-wrapper form label,
.movie-template .comment-window-wrapper form input,
.movie-template .comment-window-wrapper form .inner-form-wrapper .submit,
.movie-template .comment-window-wrapper form button {
  width: 80%;
  padding: 1rem 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.movie-template .comment-window-wrapper form .comment-window-close-icon {
  position: absolute;
  font-size: 2rem;
  top: 3%;
  right: 2%;
  cursor: pointer;
}

.movie-template .comment-window-wrapper form label {
  text-align: left;
  padding-left: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}


.movie-template .comment-window-wrapper form input,
.movie-template .comment-window-wrapper form .inner-form-wrapper .submit {
  font-family: inherit;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  background-color: #ffffff10;
  border: none;
  border-bottom: 1px solid #282828;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
  color: #fff;
}

.movie-template .comment-window-wrapper form input:focus, .movie-template .comment-window-wrapper form .inner-form-wrapper .submit:focus {
  border-bottom: 1px solid silver;
  outline: none;
}

.movie-template .comment-window-wrapper form button {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background-color: #ffffff42;
  letter-spacing: 2px;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
}

.movie-template .comment-window-wrapper form button:hover {
  background-color: #ffffffe0;
  color: #282828;
}

.movie-template .movie-container {
  position: relative;
  overflow: hidden;
  width: 19%;
  margin: 2px;
  margin-top: 8px;
  z-index: 10;
  cursor: pointer;
  outline: 1px solid #c0c0c05b;
  -webkit-animation: movie-container-effect 120ms linear;
          animation: movie-container-effect 120ms linear;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
}

.movie-template .movie-container .sidebar-icons-wrapper {
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(#00000009), to(#000000a6));
  background: linear-gradient(to top, #00000009, #000000a6);
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0.3rem;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  opacity: 0;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
}

.movie-template .movie-container .sidebar-icons-wrapper .sidebar-icons {
  display: block;
  margin-top: 0.2rem;
  font-size: 1.3rem;
  color: #f5f5f5e3;
  pointer-events: initial;
  cursor: pointer;
}

.movie-template .movie-container:hover .sidebar-icons-wrapper {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  position: absolute;
}

.movie-template .movie-container:hover .sidebar-icons-wrapper* {
  cursor: pointer;
}

.movie-template .movie-container:hover .sidebar-icons-wrapper .sidebar-icons {
  display: block;
  margin-top: 0.2rem;
  font-size: 1.3rem;
  color: #f5f5f5e3;
  pointer-events: initial;
  cursor: pointer;
}

.movie-template .movie-container:hover .sidebar-icons-wrapper a:hover .sidebar-icons {
  color: #f5f5f5;
}

@keyframes movie-container-effect {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.movie-template .movie-container .movie-image {
  display: block;
}

.movie-template .movie-container h1 {
  position: absolute;
  font-weight: 500;
  bottom: 0;
  margin: 0;
  right: -2px;
  left: 0;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  z-index: 10;
  color: #fff;
  background: #00000085;
  pointer-events: none;
}

.movie-template .movie-container .color-scheme-light-mode-title {
  background-color: white;
  color: #5295f9;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.movie-template .movie-container .movie-overview,
.movie-template .movie-container .movie-release-date,
.movie-template .movie-container .movie-rating {
  display: none;
}

.movie-template .modal-movie-wrapper {
  position: -webkit-sticky;
  position: sticky;
  height: 400px;
  width: 85%;
  top: 5px;
  bottom: 20px;
  left: 40px;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  background: #1c1c1cf1;
  padding: 1rem;
  border-radius: 5px;
}

.movie-template .modal-movie-wrapper .modal-movie-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie-template .modal-movie-wrapper .modal-movie-main-info {
  padding: 0 1rem;
  margin-left: 0.5rem;
}

.movie-template .modal-movie-wrapper .modal-movie-secondary-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f5f5f5ce;
  font-size: 1rem;
  border-bottom: 1px solid #c0c0c08f;
  padding-bottom: 5px;
  padding-top: 2rem;
  text-transform: uppercase;
}

.movie-template .modal-movie-wrapper .modal-movie-title {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

.movie-template .modal-movie-wrapper .modal-movie-image-wrapper {
  position: relative;
  display: block;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.movie-template .modal-movie-wrapper .modal-movie-image-wrapper::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  border-bottom: 100px solid #c0c0c036;
  border-left: 100px solid transparent;
}

.movie-template .modal-movie-wrapper .modal-movie-image-wrapper .modal-movie-image {
  display: block;
  pointer-events: none;
  border: 1px solid #c0c0c036;
}

.movie-template .modal-movie-wrapper .modal-movie-overview {
  font-size: 1.1rem;
  line-height: 22px;
  margin-bottom: 1.5rem;
}

.movie-template .modal-movie-wrapper .fa-times-circle {
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 15px;
  right: 15px;
}

.movie-template .modal-movie-wrapper .modal-movie-inner-wrapper,
.movie-template .modal-movie-wrapper .modal-movie-main-info,
.movie-template .modal-movie-wrapper .modal-movie-title,
.movie-template .modal-movie-wrapper .modal-movie-image,
.movie-template .modal-movie-wrapper .modal-movie-overview {
  color: #fff;
}

.document-body {
  position: relative;
  width: 1000px;
  min-height: 91vh;
  height: 500px;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: 0 0 5px #00000023;
          box-shadow: 0 0 5px #00000023;
  background: #fff;
  margin: auto;
}

.settings-wrapper {
  overflow-y: hidden;
}

.settings-wrapper .title-wrapper {
  position: relative;
  background-color: #3a3738;
  border-top-right-radius: 5px;
  padding: 1.5rem;
  color: #fff;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
}

.settings-wrapper .title-wrapper h1 {
  background-color: transparent;
  font-weight: 500;
  letter-spacing: 1px;
  position: absolute;
  left: 0;
  right: 10px;
  top: 2px;
  bottom: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}

.settings-wrapper .color-scheme-light-mode-title {
  background-color: white;
  color: #5295f9;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.settings-wrapper h2 {
  text-transform: uppercase;
  -webkit-animation: settings-effect 180ms linear;
          animation: settings-effect 180ms linear;
}

.settings-wrapper .settings-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 81.5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 5rem;
}

.settings-wrapper .settings-options .color-scheme-wrapper {
  display: block;
  height: auto;
}

.settings-wrapper .settings-options .color-scheme-wrapper .color-settings-icon {
  font-size: 1.3rem;
  -webkit-transition: all 180ms ease;
  transition: all 180ms ease;
  float: right;
  margin-right: 0.5rem;
  -webkit-animation: settings-effect 350ms linear;
          animation: settings-effect 350ms linear;
}

.settings-wrapper .settings-options .color-scheme-wrapper .color-settings-icon:hover {
  color: #5295f9;
  cursor: pointer;
}

.settings-wrapper .settings-options .section {
  border-bottom: 1px solid silver;
  margin-bottom: 0.5rem;
  margin-right: 2rem;
  padding: 1rem 0.5rem;
}

.settings-wrapper .settings-options .language-wrapper {
  display: block;
}

.settings-wrapper .settings-options .languages {
  text-align: right;
  -webkit-animation: settings-effect 350ms linear;
          animation: settings-effect 350ms linear;
}

.settings-wrapper .settings-options .languages a {
  text-decoration: none;
  font-size: 1.1rem;
  margin-right: 0.8rem;
  font-weight: bold;
  color: #1c1c1c;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
}

.settings-wrapper .settings-options .languages a:hover {
  color: #5295f9;
}

.settings-wrapper .developed-by {
  position: absolute;
  right: 10px;
  bottom: 8px;
  -webkit-animation: settings-effect 150ms linear;
          animation: settings-effect 150ms linear;
}

@-webkit-keyframes settings-effect {
  0% {
    opacity: 0.2;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes settings-effect {
  0% {
    opacity: 0.2;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.comment-link {
  position: relative;
}

.comment-link .comment-number-span {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
  left: -1px;
  bottom: -1px;
  border: 1px solid rgba(192, 192, 192, 0.466);
  border-radius: 20px;
  position: absolute;
  background-color: #5295f9d3;
  -webkit-box-shadow: 2px 1px 0.5px #2c2c2c;
          box-shadow: 2px 1px 0.5px #2c2c2c;
  width: 35px;
  aspect-ratio: 3;
  z-index: 1000;
  margin: auto;
}

.comment-link .open-menu-comment-number-span {
  display: none;
  color: #fff;
  background-color: #5295f9d3;
  width: 35px;
  border-radius: 20px;
  aspect-ratio: 3;
  font-size: 0.9rem;
  text-align: center;
  margin-left: 1rem;
  margin-bottom: -1px;
}

.comments-outter-wrapper {
  height: 100%;
  overflow-y: hidden;
  margin-bottom: 2rem;
}

.comments-outter-wrapper .title-wrapper {
  position: relative;
  background-color: #3a3738;
  border-top-right-radius: 5px;
  padding: 1.5rem;
  color: #fff;
  margin-top: 0;
}

.comments-outter-wrapper .title-wrapper h1 {
  position: absolute;
  background-color: transparent;
  font-weight: 500;
  letter-spacing: 1px;
  left: 0;
  right: 10px;
  top: 2px;
  bottom: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}

.comments-outter-wrapper .color-scheme-light-mode-title {
  background-color: white;
  color: #5295f9;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.comments-outter-wrapper .comments-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  height: 91%;
  overflow-y: auto;
}

.comments-outter-wrapper .comments-inner-wrapper .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-top: 2px solid #c0c0c02d;
  border-bottom: 0.5px solid #c0c0c081;
  padding: 1rem 2rem 1.5rem 5rem;
}

.comments-outter-wrapper .comments-inner-wrapper .comment:last-child {
  border-bottom: none;
}

.comments-outter-wrapper .comments-inner-wrapper .comment .comment-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments-outter-wrapper .comments-inner-wrapper .comment .comment-top h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0.3rem 0.6rem;
  border-bottom: 1px solid #c0c0c034;
  background: #353535;
  -webkit-clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
  color: #fff;
  width: 100%;
  border-radius: 2px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  letter-spacing: 1px;
}

.comments-outter-wrapper .comments-inner-wrapper .comment .comment-top .date-time-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.05rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.comments-outter-wrapper .comments-inner-wrapper .comment .comment-top .date-time-wrapper .date-span,
.comments-outter-wrapper .comments-inner-wrapper .comment .comment-top .date-time-wrapper .time-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #303030;
}

.comments-outter-wrapper .comments-inner-wrapper .comment .comment-top .date-time-wrapper .date-span {
  margin-bottom: 2px;
}

.comments-outter-wrapper .comments-inner-wrapper .comment .comment-top .date-time-wrapper svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 5px;
}

.comments-outter-wrapper .comments-inner-wrapper .comment .comment-paragraph {
  display: block;
  font-size: 1.25rem;
  margin: 1.2rem 0 0.6rem 0.2rem;
}

.comments-outter-wrapper .comments-inner-wrapper .comment .comment-bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comments-outter-wrapper .comments-inner-wrapper .comment .comment-bottom-section span {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 10px;
}

.comments-outter-wrapper .comments-inner-wrapper .comment .comment-bottom-section .reaction-pannel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments-outter-wrapper .comments-inner-wrapper .comment .comment-bottom-section .reaction-pannel .reaction-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
}

.comments-outter-wrapper .comments-inner-wrapper .comment .comment-bottom-section .reaction-pannel .reaction-btn-wrapper svg {
  font-size: 1.3rem;
  margin-right: 2px;
  cursor: pointer;
  color: #00000098;
}

.comments-outter-wrapper .comments-inner-wrapper .comment .comment-bottom-section .reaction-pannel .reaction-btn-wrapper svg:hover {
  color: #3f3f3f;
}

.comments-outter-wrapper .comments-inner-wrapper .comment .comment-bottom-section .reaction-pannel .reaction-btn-wrapper .like-icon {
  margin-left: auto;
}

.comment-message-overlay {
  display: none;
  position: fixed;
  background-color: #393939b4;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  z-index: 1000;
  -webkit-animation: comment-window-effect 120ms linear;
          animation: comment-window-effect 120ms linear;
}

.comment-message-overlay .comment-message-outside-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #282828;
  margin: auto;
  width: 82%;
  height: 85%;
  border-radius: 5px;
  font-size: 2rem;
  color: white;
}

.watchlist-outter-wrapper {
  border-top-right-radius: 5px;
}

.watchlist-outter-wrapper .title-wrapper {
  position: relative;
  background-color: #3a3738;
  border-top-right-radius: 5px;
  padding: 1.5rem;
  color: #fff;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
}

.watchlist-outter-wrapper .title-wrapper h1 {
  background-color: transparent;
  font-weight: 500;
  letter-spacing: 1px;
  position: absolute;
  left: 0;
  right: 10px;
  top: 3px;
  bottom: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}

.watchlist-outter-wrapper .color-scheme-light-mode-title {
  background-color: white;
  color: #5295f9;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.watchlist-outter-wrapper .no-movies-in-watchlist {
  display: -ms-grid;
  display: grid;
  place-content: center;
  height: 75.4vh;
}

.watchlist-outter-wrapper .watchlist-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: url("https://images.pexels.com/photos/3921045/pexels-photo-3921045.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-color: #222222;
  background-size: 100%;
  background-position: center;
  background-blend-mode: multiply;
  padding-left: 3.5rem;
  padding-top: 0.15rem;
  height: 82.3vh;
  overflow-y: auto;
  color: #fff;
}

.watchlist-outter-wrapper .watchlist-movie-wrapper {
  position: relative;
  margin: 0 0.5px;
  overflow: hidden;
  -webkit-animation: watchlist-movie-effect 120ms linear;
          animation: watchlist-movie-effect 120ms linear;
  height: 278px;
}

@-webkit-keyframes watchlist-movie-effect {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes watchlist-movie-effect {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.watchlist-outter-wrapper .watchlist-movie-wrapper:hover .watchlist-info-slider {
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  top: 5px;
}

.watchlist-outter-wrapper .watchlist-movie-wrapper:hover .watchlist-info-slider p,
.watchlist-outter-wrapper .watchlist-movie-wrapper:hover .watchlist-info-slider button {
  opacity: 1;
  display: unset;
}

.watchlist-outter-wrapper .watchlist-movie-wrapper:hover .watchlist-info-slider .btn-wrapper {
  text-align: center;
}

.watchlist-outter-wrapper .watchlist-movie-wrapper .watchlist-info-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin: 0;
  top: 75%;
  bottom: 0;
  right: -2px;
  left: 0;
  padding: 1rem 0.5rem;
  z-index: 10;
  color: #fff;
  background: #00000085;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

.watchlist-outter-wrapper .watchlist-movie-wrapper .watchlist-info-slider h2 {
  font-weight: 300;
  font-size: 1rem;
}

.watchlist-outter-wrapper .watchlist-movie-wrapper .watchlist-info-slider p {
  text-align: left;
  font-size: 0.8rem;
  margin-top: 5px;
}

.watchlist-outter-wrapper .watchlist-movie-wrapper .watchlist-info-slider p,
.watchlist-outter-wrapper .watchlist-movie-wrapper .watchlist-info-slider button {
  opacity: 0;
  display: none;
}

.watchlist-outter-wrapper .watchlist-movie-wrapper .watchlist-info-slider .add-to-watched-btn {
  margin-top: auto;
}

.watchlist-outter-wrapper .watchlist-movie-wrapper .watchlist-info-slider .add-to-watched-btn:hover {
  outline: 0.5px solid #5295f9b7;
  color: #98c1ff;
}

.watchlist-outter-wrapper .watchlist-movie-wrapper .watchlist-info-slider button {
  margin: 0 auto;
  margin-top: 10px;
  font-family: inherit;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  background: #000000af;
  outline: 0.5px solid #c0c0c02c;
  cursor: pointer;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
}

.watchlist-outter-wrapper .watchlist-movie-wrapper .watchlist-info-slider button > svg {
  margin-right: 2px;
}

.watchlist-outter-wrapper .watchlist-movie-wrapper .watchlist-info-slider button:hover {
  outline: 0.5px solid rgba(192, 192, 192, 0.363);
}

.watched-outter-wrapper {
  position: relative;
  border-top-right-radius: 5px;
}

.watched-outter-wrapper .no-movies-in-watched {
  display: -ms-grid;
  display: grid;
  place-content: center;
  height: 75.4vh;
}

.watched-outter-wrapper .title-wrapper {
  background-color: #3a3738;
  border-top-right-radius: 5px;
  position: relative;
  padding: 1.5rem;
  color: #fff;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
}

.watched-outter-wrapper .title-wrapper h1 {
  background-color: transparent;
  font-weight: 500;
  letter-spacing: 1px;
  position: absolute;
  left: 0;
  right: 10px;
  top: 3px;
  bottom: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}

.watched-outter-wrapper .color-scheme-light-mode-title {
  background-color: white;
  color: #5295f9;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.watched-outter-wrapper .watched-inner-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: url("https://images.pexels.com/photos/3921045/pexels-photo-3921045.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-color: #222222;
  background-size: 100%;
  background-position: center;
  background-blend-mode: multiply;
  padding-left: 3.5rem;
  padding-top: 0.15rem;
  height: 82.3vh;
  overflow-y: auto;
  color: #fff;
}

.watched-outter-wrapper .watched-inner-wrapper .watched-movie-wrapper {
  position: relative;
  margin: 0 0.5px;
  overflow: hidden;
  outline: 1px solid #c0c0c01f;
  -webkit-animation: watchlist-movie-effect 120ms linear;
          animation: watchlist-movie-effect 120ms linear;
  height: 278px;
}

.watched-outter-wrapper .watched-inner-wrapper .watched-movie-wrapper h2 {
  position: absolute;
  font-weight: 300;
  bottom: 0;
  margin: 0;
  right: -2px;
  left: 0;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  z-index: 10;
  color: #fff;
  background: #00000085;
  pointer-events: none;
}

.watched-outter-wrapper .watched-clear-span {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background-color: black;
  background: -webkit-gradient(linear, left top, right top, from(#181818), to(rgba(43, 43, 43, 0.863)));
  background: linear-gradient(to right, #181818, rgba(43, 43, 43, 0.863));
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  padding: 1rem 0;
}

.watched-outter-wrapper .watched-clear-span button {
  position: absolute;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 1rem 1.5rem;
  background: #0000002d;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  width: 20%;
  top: 0;
}

.watched-outter-wrapper .watched-clear-span button:hover {
  background: #af1313;
}

.watched-outter-wrapper .watched-clear-span button p {
  position: absolute;
  margin-left: auto;
  top: 20%;
  right: 25%;
  left: 25%;
  pointer-events: none;
}

.watched-outter-wrapper .clear-watched-modal-wrapper {
  display: none;
  position: fixed;
  background-color: #00000098;
  text-align: center;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  z-index: 1000;
  -webkit-animation: clear-watched-modal-effect 120ms linear;
          animation: clear-watched-modal-effect 120ms linear;
}

@-webkit-keyframes clear-watched-modal-effect {
  0% {
    opacity: 0.2;
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes clear-watched-modal-effect {
  0% {
    opacity: 0.2;
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.watched-outter-wrapper .clear-watched-modal-wrapper .clear-watched-modal-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center;
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 15%;
  right: 15%;
  background-color: #282828;
  padding: 5rem;
  border-radius: 5px;
  color: white;
}

.watched-outter-wrapper .clear-watched-modal-wrapper .clear-watched-modal-inner h3 {
  font-weight: 100;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.watched-outter-wrapper .clear-watched-modal-wrapper .clear-watched-modal-inner .watched-modal-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 3rem;
}

.watched-outter-wrapper .clear-watched-modal-wrapper .clear-watched-modal-inner .watched-modal-btn-wrapper button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 0.8rem 1.5rem;
  margin: 0 10px;
  background: #0000002d;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

.watched-outter-wrapper .clear-watched-modal-wrapper .clear-watched-modal-inner .watched-modal-btn-wrapper button:hover {
  background: whitesmoke;
  color: #1c1c1c;
}

.watched-outter-wrapper .clear-watched-modal-wrapper .clear-watched-modal-inner .watched-modal-btn-wrapper .clear-yes-btn:hover {
  color: #fff;
  background: #af1313;
}

.movie-modal-overlay {
  display: none;
  position: fixed;
  background-color: #3939391e;
  z-index: 200000;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  -webkit-animation: comment-window-effect 120ms linear;
          animation: comment-window-effect 120ms linear;
}

.movie-modal-overlay .movie-modal-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #282828;
  top: 10%;
  bottom: 55px;
  left: 15%;
  right: 15%;
  bottom: 10%;
  padding: 2rem;
  border-radius: 5px;
  font-size: 1.5rem;
  color: white;
  z-index: 100000;
}

.movie-modal-overlay .movie-modal-wrapper .modal-close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  -webkit-transition: all 120ms linear;
  transition: all 120ms linear;
  color: rgba(255, 255, 255, 0.904);
}

.movie-modal-overlay .movie-modal-wrapper .modal-close-icon:hover {
  cursor: pointer;
  color: #fff;
}

.movie-modal-overlay .movie-modal-wrapper .movie-modal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie-modal-overlay .movie-modal-wrapper .movie-modal-info img {
  margin-right: 15px;
}

.movie-modal-overlay .movie-modal-wrapper .movie-modal-info .movie-modal-secondary-info {
  padding: 1rem 0.5rem;
}

.movie-modal-overlay .movie-modal-wrapper .movie-modal-info .movie-modal-secondary-info h2 {
  margin-bottom: 10px;
}

.movie-modal-overlay .movie-modal-wrapper .movie-modal-info .movie-modal-secondary-info p {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(192, 192, 192, 0.171);
}

.movie-modal-overlay .movie-modal-wrapper .movie-modal-info .movie-modal-secondary-info span {
  display: block;
  margin-top: 1rem;
  text-align: right;
  text-transform: lowercase;
  font-size: 1.2rem;
}
/*# sourceMappingURL=index.css.map */