$nav-bg: #1c1c1c;
$text-color: #fff;
$ff: "helvetica", sans-serif;

body {
  font-family: $ff;
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
  padding-top: 2rem;
  background: rgba(124, 124, 124, 0.24);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1c1c1cbd;
}

::-webkit-scrollbar-button {
  background: #1c1c1cf3;
}

::-webkit-scrollbar-thumb {
  background: #1c1c1cf3;
}

nav {
  display: flex;
  flex-direction: column;
  height: 90vh;
  position: fixed;
  width: 3.3rem;
  background: $nav-bg;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: width 100ms linear;
  z-index: 100;

  &.menu-active {
    width: 16rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu-link {
      margin: 0;
      display: flex;
      cursor: pointer;
      width: 100%;
      transition: all 120ms linear;
      align-items: center;
      justify-content: flex-start;
      text-decoration: none;

      &:first-child {
        border-top-left-radius: 5px;
        background: $nav-bg;
      }

      &:first-child:hover {
        border-top-left-radius: 5px;
      }

      &:hover {
        border: none;
        background: rgba(192, 192, 192, 0.192);
      }

      .link-text {
        text-decoration: none;
        pointer-events: none;
        color: $text-color;
        display: none;
        transition: display 2s linear 5s;
        padding-left: 0.5rem;

        &.text-showing {
          display: block;
        }
      }

      .icons {
        font-size: 20px;
        color: $text-color;
        padding: 1.1rem 1rem;
        z-index: 10;
        overflow: hidden;
      }
    }
  }
}

form {
  padding: 10px;
  margin: auto;
  text-align: center;
  background: #1c1c1cf3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  input {
    padding: 5px 10px;
    border: none;
  }

  .submit {
    background: #1c1c1c;
    @extend input;
    color: whitesmoke;
  }
}

.movie-template {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: calc(80vh + 10px);
  padding-left: 3.5rem;
  padding-right: 0.3rem;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;

  .movie-container {
    position: relative;
    width: 20%;
    margin: 10px 2px;

    .movie-image {
      display: block;
    }

    h1 {
      position: absolute;
      bottom: 0;
      margin: 0;
      right: 0;
      left: 0;
      padding: 1rem 0.5rem;
      font-size: 1rem;
      z-index: 10;
      color: white;
      background: rgba(0, 0, 0, 0.521);
    }
  }
}

.movie-desc {
  padding: 5px 10px;
}

.document-body {
  position: relative;
  width: 1000px;
  height: 90vh;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.137);
  background: #fff;
  margin: auto;
}
